.pageAwards{
    max-width: 1520px;
    padding: 0 40px;
}
.pageAwards  h1{
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.modalBox{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    inset: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.modalContent{
    background: white;
    color: black;
    padding: 30px;
    max-width: 600px;
    border-radius: 20px;
    position: relative;
}
.btnClose{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}
.modalContent h3{
    font-size: 30px;
    text-align: center;
}